<%= render partial: "shared/navbar" %>

<!----PHYIOSOPHY---->
<a name="philosophy"></a>
<div class="philosophy text-center" id="startchange">
  <div class="container-fluid">
    <div class="descript col-xs-12 col-sm-12 col-md-12">
      <h1>PHILOSOPHY</h1>
      <div class="row no-gutter mt-5">
        <div class="col-xs-12 col-sm-6 col-md-4 p-4">
          <%= image_tag "boy.jpg", class: "img-responsive", width: "100%" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 text-dark text-left p-4">
          <h4>The Way of Balance</h4>
          <p>
          At the JKA, we put immense focus on the proper form and balance of each kihon, or basic technique. Through extensive training, our instructors have rigorously, scientifically analyzed and separated out each individual movement in each individual kata, and developed an unrivalled spectrum of kihon techniques. Using these special kihon, we have refined the kata to be more applicable in kumite. And in turn, the experience accumulated through kumite gives feedback to further perfect one’s kihon and kata. In this way kihon, kata and kumite form the inseparable trinity of JKA karate. Through constant repetition of such techniques, your body learns to move effortlessly, naturally. And your mind learns to be effortless and natural too. JKA karate is the way of balance.
          </p>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-xs-12 col-sm-6 col-md-8 text-dark text-left  p-4">
          <h4>Forging a Karate Mind</h4>
          <p>
          Karate is not a game of points, weight classes or showy demonstrations. It is a martial art and way of life that trains a practitioner to be peaceful; but if conflict is unavoidable, true karate dictates taking down an opponent with a single blow.<br>
          Such an action requires strength, speed, focus, control. But these physical aspects are only part of the practice; they are just the vehicle, not the journey itself.

          True karate is based on Bushido. In true karate, the body, mind and spirit—the whole person—must be developed simultaneously. Through kihon, kumite and kata we learn to control our movements. But more importantly, we learn to give up control too. We can perform the techniques without thinking about them, and remain focused without having to concentrate on any one thing. In essence, the body remembers how to move and the mind remembers how to be still.

          This harmonious unity of mind and body is intensely powerful. Even the greatest physical strength and skill are no match for the power of wholeness.

          The result of true karate is natural, effortless action, and the confidence, humility, openness and peace only possible through perfect unity of mind and body. This is the core teaching of Zen, the basis of Bushido, and the basis of the JKA’s karate philosophy.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 p-4">
          <%= image_tag "girl.jpg", class: "img-responsive", width: "100%" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="break2">
  <div class="layer2">
  </div>
</div>
<%= render partial: "shared/footer" %>
