<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="text-center go-up-icon col-xs-12 col-sm-6 col-md-12">
        <a href="#home"><i class="fa fa-angle-up fa-4x"></i></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 text-center">
        <p>2020 JKA Karate Shiroma NY</p>
      </div>
    </div>
  </div>
</footer>
