<nav class="navbar navbar-default navbar-expand-lg fixed-top p-1">
  <div class="row no-gutter ml-3">
    <div class="col-2 mt-1">
      <%= image_tag "jka_logo.jpg", class: "img-responsive", width: "50px", height: "50px" %>
    </div>
    <div class="col-10">
      <a class="navbar-brand" href="#">JKA Karate Shiroma NY
        <hr>
        <span class="align-text-top" style="font-size:13px"> Japan Karate Association</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#instructor">Instructor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#philosophy">Philosophy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#works">Affiliations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#photos">Photos</a>
      </li>
    </ul>
  </div>
</nav>
