<div class="contact text-center">
  <a name="contact"></a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <div class="title">CONTACT</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="sub-title">Connect with JKA at: </div>
        <p>jkashiromany@gmail.com</p>
        <br/>
        <h2>Tel: </h2>
        <p>1-914-527-9800</p>
        <br/>
        <br/>
        <h3>Or, you could get in touch with us on social media</h3>
      </div>
    </div>
    <div class="row social-media-row-1">
      <div class="icon col-xs-6 col-sm-6 col-md-6">
        <a href="https://www.facebook.com/Shiromakarate"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="icon col-xs-6 col-sm-6 col-md-6">
        <a href="https://www.instagram.com/karateshiromadojony/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
