<a name="instructor"></a>
<div class="instructor text-center descript">
  <div class="title">ISAMI SHIROMA</div>
  <div class="sub-title mb-4">Instructor</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <%= image_tag "sensei2.jpg", class: "img-responsive img-fluid" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 mobile-margin">
        <%= image_tag "sensei3.jpg", class: "img-responsive img-fluid" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 mobile-margin">
        <%= image_tag "sensei4.jpg", class: "img-responsive img-fluid" %>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row text-dark text-center">
      <div class="col-xs-12 col-sm-12 col-md-6 instructor-overlay">
        <%= image_tag "sensei.jpg", class: "img-responsive img-fluid", height: "100%" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 instructor-layer text-center">
        <div>Born in Okinawa, Japan</div>
        <div>7th Dan Japan Karate Association</div>
        <div>A-Class Instructor</div>
        <div>A-Class Judge</div>
        <div>A-Class Examiner</div>
        <div>Founding Member of Hokubei Shihan Kai</div>
        <div>www.hokubeishihankai.org</div>
        <div>Co-founder of Karate Federation of Colombia, 1971</div>
        <div>Liga De Karate-Do of Atlantico (Barranquilla Colombia)</div>
        <div>Liga De Karate-Do of Bolivar (Cartagena)</div>
        <div>Founded Academia De Karate Colombo-Japones Isami-Dojo en Barranquilla-1971</div>
        <div>1985 Judge at the Pan American Games at Rio De Janeiro, Brazil</div>
        <div>Technical advisor for JKA Colombia www.jkacolombia.org</div>
        <div>2004 Shotocup Judge, Tokyo Japan</div>
        <div>Karate Club at New York University Medical School</div>
      </div>
    </div>
  </div>
</div>
