<a name="schedule"></a>
<div class="schedule text-center descript">
  <div class="title">CLASS SCHEDULE</div>
  <div class="sub-title mb-4 text-dark">Long Island City</div>
  <div class="row text-dark mt-5">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="mb-3d ">
        <strong>At the LIC Art Center</strong>
      </div>
      <div class="mb-3">
        2nd Floor Room 209
        44-02 23rd Street
        Long Island City, NY 11101
      </div>
      <div class="mb-3">
        Sunday:
        10:00am - 12:00pm
        All levels welcome.
      </div>
      <div class="mb-3">
        Directions:<br>
        Conveniently Located near trains<br>
        Q, N, 7 (get off at Queensboro Plaza Station)<br>
        & R, M, E (get off at Queens Plaza Station)<br>
        And MTA Bus #32, 60, 66, 100 & 102
      </div>
      <div class="mb-3">
        Visitor Contribution is $20
      </div>
      <div class="schedule-overlay mt-5">
        <%= image_tag "dojo3.jpg", class: "img-responsive img-fluid" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 schedule-overlay">
      <%= image_tag "class.jpg", class: "img-responsive img-fluid" %>
    </div>
  </div>
</div>
