.contact {
  background-color: #c1292e;
}

.contact h1 {
  font-size: 80px;
  margin-top: 8%;
}

.social-media-row-1 {
  margin-top: 10%;
}

.contact .icon {
  border: 1px solid black;
}

.icon a {
  font-size: 100px;
  color: #fff;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-media {
  margin-top: 7%;
}
