footer {
  background-color: #34292b;
}

.go-up-icon i {
  color: white;
  font-size: 400%;
  margin-top: 15%;
  border: 1px solid white;
  padding: 2% 4% 3% 4%;
  border-radius: 10%;
}

.go-up-icon i:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

footer p {
  color: white;
  padding-top: 17%;
}
