 .instructor {
   // background: image-url("sensei2.jpg");
 }

 .instructor a {
   font-family: "News Cycle", serif;
 }

 .instructor h1 {
   color: #212529;
   font-size: 80px;
   margin-top: 8%;
   margin-bottom: 0px;
 }

//  .image-blurred-edge {
//    background: image-url("sensei.jpg");
//    background-size: cover;
//    box-shadow: 0 0 50px 28px #76422d inset;
//    width: 100%;
//    height: 700px;
// }

.instructor-layer {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  // background-color: rgba(0, 0, 0, 0.8);
}

.instructor-descript {
  margin-bottom: 8%;
}


.instructor-colored-bg{
 // background-color: rgba(0,0,0, 0.1);
 // margin-top: 100px;
}

.instructor-margin-top {
  margin-top: 400px;
}

.instructor-overlay{
 // position: absolute;
 // top: 223px;
 // margin-top: 155px;
 // left:25px;
 // /* z-index:1; */
 // bottom:0;
 // right:0;
 // height:112%;
 opacity: .8;
}

.instructor-coloverlay{
 /* background-color: rgba(233, 33, 33, .4); */
 border: 1px solid red;
 height: 50%;
}
