.philosophy-p {
  font-size: 20px;
  color: black;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 7%;
  margin-bottom: 10%;
}

.break2 {
  background: image-url("dragon.jpg") center center fixed;
  display: grid;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.break2 h3 {
  color: #fff;
  font-size: 70px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.layer2 {
  background-color: rgba(255,255,255, 0);
  padding: 180px;
}
