.philosophy {
}

.philosophy h1 {
  color: #C1292E;
  font-size: 80px;
  margin-top: 8%;
}

.philosophy-p {
  font-size: 20px;
  color: black;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 7%;
  margin-bottom: 10%;
}

.philosophy-descript {
  margin-bottom: 8%;
}

.break2 {
  background: image-url("dragon.jpg") center center fixed;
  /*   background: url(https://unsplash.imgix.net/photo-1430760814266-9c81759e5e55?fit=crop&fm=jpg&h=750&q=75&w=1050) center center fixed; */
  display: grid;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.break2 h3 {
  color: #fff;
  font-size: 70px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.layer2 {
  background-color: rgba(255,255,255, 0);
  padding: 180px;
}
