.photos .row > div {
  padding: 0 4px !important;
}

.photos-intro img {
  margin-top: 8px;
  vertical-align: middle;
}

.photos-descript {
  margin-bottom: 8%;
}

.photos-intro {
  margin-top: 6.4%;
}
