@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}


@media (min-width: 300px) and (max-width: 479px) {
  header h1, .instructor h1, .works h1, .contact h1 {
    font-size: 50px;
    margin-bottom: 15%;
  }

  header h4 {
    font-size: 20px;
    margin-bottom: 15%;
  }

  .instructor-p {
    font-size: 14px;
  }

  .contact i {
    font-size: 500%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {}

@media (min-width: 576px) and (max-width: 767px) {}
