.schedule {
  /* background-color: #78531b; */
}

.schedule-descript {
  margin-bottom: 8%;
}

.schedule h1 {
  color: #333333;
  font-size: 80px;
  margin-top: 8%;
  margin-bottom: 0px;
}

.schedule h3 {
  color: #333333;
}

// .colored-bg{
//  background-color: rgba(0, 0, 0, 0.8);
// }

.schedule-overlay {
  opacity: 0.8;
}

// .rowoverlay{
//  position: absolute;
//  top: 10;
//  left:10;
//  z-index:1;
//  bottom:0;
//  right:10;
//  height:70%;
// }

.coloverlay{
 // background-color: rgba(233, 33, 33, .4);
 // border: 1px solid red;
 // height: 100%;
}

// .layer1 {
//    background-color: rgba(255,255,255, 0.8);
//  }
